<div>
   {{#with program}}
      <section>
          <h1>{{> title data="Excursion" big=true}}</h1>
         {{#with excursion}} 
            <p><h2>{{name}}</h2></p>  
         {{/with}}
         <hr>
         {{#with excursion}} 
         <h3>{{> title data="Location:" big=true}}</h3>
            <p>
               <em><b>Paris, France, 2023-06-15</b></em>
            </p> 
            <hr>
            <div>
               {{#with program}}
               <h3>{{> title data="Program:" big=true}}</h3>
               <li>name:Museum Visit{{name}}</li>
               <li>type: Art{{type}}</li>
               <li>duration: 3 {{duration}}</li>
               {{/with}}
         <div>
            <h4>{{> title data="Details:" big=true}}</h4>
            <h4>Museum:</h4>
            <ul>
                <li>name: <i></i>The Louvre</i></li>
                <li><address>address: Rue de Rivoli, Paris, France,</address></li>                 
            </ul>
            <h4>Exhibits:</h4>
               {{#each exhibits}}
               <ul>
                  <li>
                  {{name}} 
                  {{#if audio_giide}} {{/if}}
                  </li>
               </ul>
               {{/each}}
            </ul>
         </div>               
         {{/with}}
      </section>  
   {{/with}}
</div>                         