<div>
   {{#each program}}
      <div>
         <h1 class="ms-3 text-center">{{name}}</h1>
         <br>
      </div>

      <div>
         {{#with location}}
         <h2 class="text-center">{{city}} ({{country}})</h2>
         {{/with}}
         <em class=" ms-4">{{date}}</em>
      </div> 
      <hr>
      <br>
      <section>
         {{> title data="Programs:" big=true}}

         {{#each program}}
         <h3>{{name}} - {{type}}</h3>
         {{#with details.museum}}
         <h4>{{name}}</h4>
         {{#with location}} 
         <em>{{address}}, {{city}}, {{country}}</em>
         {{/with}}
            <ul>   
               {{#each exhibits}}
                  <li>
                     {{name}}: artist ({{artist}}) ({{description}}) {{#if audio_guide}}{{/if}}
                  </li>
               {{/each}}
            </ul>
         {{/with}}
         
         
         
         {{#with details.venue}}
         <h4>{{name}}</h4>
         {{#with location}} 
         <em>{{address}}, {{city}}, {{country}}</em>
         {{/with}}
         {{/with}}

         <ul>    
            {{#each details.performers}}
            <li>{{name}} - {{type}}</li>
            {{/each}}
         </ul>

         {{#with details.guide}}
         <p>Guide {{name}}: {{language}} , {{rating}}</p>
         <hr>
         {{/with}}
         {{/each}}
      </section>
   {{/each}}
</div>   