<main class="container"> 

    <div class="row"> 

        <div class="col-12">
            <h1 class="my-2 ms-3">{{header}}</h1>
                
                <div class="mx-2">   
                {{#with purchase}} 
                        
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        {{#if isActive}}
                            <a href="#" class="nav-link active">{{text}}</a>  
                        {{else}}
                            <a class="nav-link {{#if isDisabled}} disabled {{/if}}" href="#">{{text}}</a> 
                        {{/if}}    
                    </div>
                    {{/each}}
                </div>
                            
                <div class="mt-3">
                    <div class="row">
                        {{#with actionBlock}}
                            <div class="col-4">
                            {{#with input}}                      
                            <label class="form-label"></label>
                             <input type="text" class="form-control" value="{{placeholder}}">                      
                            {{/with}}
                            </div>

                            {{#each buttons}}
                            <div class="col-2 text-center">
                            {{#if isSuccess}}<a class="btn btn-success mt-4" href="link" role="button">{{text}}</a>{{/if}}
                            {{#if isOutline}}<a class="btn btn-outline-success  mt-4" href="link" role="button">{{text}}</a>{{/if}}
                            {{#if isDanger}}<a class="btn btn-danger mt-4" href=" link" role="button">{{text}}</a>{{/if}}
                            </div>
                            {{/each}}    
                            </div>
                        {{/with}}
                    </div>
                </div>
                       
                 <hr class="my-5">
                  {{!-- <div class="my-5">
                    {{#each itemList}}
                    <ul class="list-group list-group-flush">
                        <div>
                        <li class="list-group-item">
                            <div class="row">
                        <div class="col-4 mt-3">
                            <p>{{number}}</p>
                            <p><b>{{status}}</b></p>
                        </div>
                        <div class="col-2 mt-3">
                            {{#with amount}}
                            <p>{{title}}</p>
                            <p><b>{{value}}</b></p>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            <div class="row">
                            {{#each images}}
                            <div class="col-4">
                            <img src="{{this}}" class="card-img-top">
                            </div>
                            {{/each}}
                            </div>
                        </div>
                        <div class="col-2 mt-3">
                            {{#with button}}
                            {{#if isPrimary}}
                            <a href="{{link}}" class="btn btn-primary">{{text}}
                            </a>
                            {{/if}}
                            {{/with}}
                        </div>
                        </div>
                        </li>
                        </div>
                    </ul>
                    {{/each}} --}}
                    {{> purchaseItem}}
			{{/with}}
			</div>
  
                <hr class="my-5"> 
                 
                    {{#with userInfo}} 
                    <h2>{{title}}</h2>
 
                        <div class="card">           
                        {{#with profileData}}
                        <h3 class="mt2 ms-2">{{title}}</h3>
                            <div class="m-2">   
                                <div class="card">
                                    {{#with fullName}}
                                    <div class="row">
                                        <div class="col my-2 ms-3">
                                            <p>{{surname.title}}</p>
                                            <p>{{surname.value}}</p>
                                        </div>
                                        <div class="col my-2 ms-3">
                                            <p>{{name.title}}</p>
                                            <p>{{{name.value}}}</p>
                                        </div>
                                        <div class="col my-2 ms-4">
                                            <p>{{middleName.title}}</p>
                                            <p>{{middleName.value}}</p>
                                        </div>    
                                    </div>
                                    {{/with}}   
                                </div>    
                            </div>  
                        
               
                   
                            <div class="m-2">               
                                 <div class="card mt-2">
                                     {{#with otherInfo}}
                                     <div class="row">
                                        <div class="col my-2 ms-3">
                                             <p>{{birthday.title}}</p>
                                            <p>{{birthday.value}}</p>
                                        </div>
                                        <div class="col">
                                            <p>{{sex.title}}</p>
                                            <p>{{sex.value}}</p>
                                        </div>
                                        <div class="col">
                                            <p>{{language.title}}</p>
                                             <p>{{language.value}}</p>
                                        </div>
                                    </div>    
                                   {{/with}}
                                </div>
                            </div> 
                            {{/with}}  

                            <div class="m-2 pb-3">
                                 <div class="card mt-2">
                                    <div class="row">
                                    {{#each buttons}}                       
                                    {{#if isPrimary}}
							            <div class="col-4">
                                            <div class="my-2 ms-3">
                                                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                                            </div>
							            </div>
						            {{/if}}

						            {{#if isSecondary}}
							            <div class="col-4">					
                                            <div class="my-2 ms-3">
                                                <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                                            </div>
							            </div>
						            {{/if}}

						            {{#if isDanger}}
							            <div class="col-4">
                                            <div class="my-2 ms-3">
                                                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                                            </div>
							            </div>
						            {{/if}}
						            {{/each}}
						            </div>
					            </div>
				            </div>
                         </div>

                            <div class="my-2 pt-2">
                                <div class="card">
                                    {{#with recipients}}
                                    <h3 class="ms-2 mt-2">{{title}}</h3>
                                    <div class="row">
                                        {{#each users}}
                                        <div class="col-4">
                                            <div class="m-2">
                                               <div class="card">
                                                    {{#with this}}
                                                    <div class="m-2">
                                                        <b>{{name}}</b>
                                                        <p>{{phone}}</p>
                                                    </div>
                                                    {{#with button}}
                                                    <div class="m-2">
                                                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                                                    </div>
                                                    {{/with}}
                                                    {{/with}}
                                               </div> 
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    {{/with}}
                                </div>
                            </div>
                               
                            <div class="my-2 pt-3">
                                <div class="card">
                                    {{#with contacts}}
                                    <h2 class="ms-2 mt-2">{{title}}</h2>
                                    <div class="row">
                                        {{#with contactData}}
                                        <div class="col-4"> 
                                            <div class="m-2">
                                                <div class="card">
                                                    {{#with phone}}
                                                    <div class="m-2">
                                                        <p>{{title}}</p>
                                                        <b>{{value}}</b>
                                                    </div>
                                                    {{/with}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="m-2">
                                                <div class="card">
                                                    {{#with additionalPhone}}
                                                    <div class="m-2">
                                                        <p>{{title}}</p>
                                                        <b>{{value}}</b>
                                                    </div>
                                                    {{/with}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="m-2">
                                                <div class="card">
                                                    {{#with email}}
                                                    <div class="m-2">
                                                        <p>{{title}}</p>
                                                        <b>{{value}}</b>
                                                    </div>
                                                    {{/with}}    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/with}}
                                        <div class="row">
                                            {{#each buttons}}
                                                {{#if isPrimary}}
                                                <div class="col mx-3 mb-3">
                                                    <div>
                                                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                                                    </div>
                                                </div>
                                                {{/if}}
                                                {{#if isSecondary}}
                                                <div class="col mx-4 mb-3">
                                                    <div>
                                                        <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                                                    </div>
                                                </div>
                                                {{/if}}
                                                {{#if isDanger}}
                                                <div class="col ms-2 mb-3">
                                                    <div>
                                                        <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                                                    </div>
                                                </div>
                                                {{/if}}
                                            {{/each}}
                                        </div>     
                                    
                                </div>
                            </div>       
                         
                       {{/with}}
                       </div>    
                    {{/with}}
              
        </div>
    </div>               
</main>
    