<main>  
    <div>
        <section> 
            	<div class="nav">
					<div class="nav-item">
						<a href="https://github.com/" class="nav-link">Home</a>   
					</div> 
					<div class="nav-item">
						<a href="https://www.google.com/" class="nav-link">Contacts</a>   
					</div> 
					<div class="nav-item">
						<a href="https://www.youtube.com/" class="nav-link">Help</a>   
					</div> 
					<a href="https://nodejs.org/en/"class='btn btn-primary mb-2' >Lets start</a>
					</div>
				</div>	         
         </section> 
         <hr class="text-muted">
            <div>
                {{#with header}}
				<h1>{{title}}</h1>
				<p>{{description}}</p>	  
				<a href={{button.link}} class="btn btn-primary btn-sm">
				{{button.text}}</a>
			   {{/with}}
            </div>
			<br>
            <hr class="text-muted">
			<br>
			<section class="row col-12">
				<div>
					{{#with city}}
						<h2>{{title}}</h2>
						    <div class="container overflow-hidden">
								<div class="row g-4">
									{{#each cards}}
										<div class="col-6"> 
											<div class="card">
												<img class="card-img-top" src={{picture.src}} alt={{picture.alt}}>
												<div class="card-body">
													<h5 class="card-title">{{title}}</h5>
													<div class="card-text">{{description}}</div>
													<br>
													<a href={{button.href}} class={{button.text}}></a>
												</div> 
											</div>  
										</div> 
									{{/each}}
								</div>	
							</div>	
					{{/with}}	
				</div>	
            </section>
            <br>
            <hr class="text-muted">
            <br>
            <div>
               <h2 class="text-dark">{{winner.title}}</h2> 
               <table class="table">
				<thead>
					<tr>
						{{#each winner.table.head}}
						<th scope="col">{{this}} </th>
						{{/each}}
					</tr>
				</thead>
					<tbody>
						{{#each winner.table.user}}
						<tr>
							<th scope="row">{{place}}</th>
							<td>{{name}}</td>
							<td>{{surname}}</td>
							<td>{{nickname}}</td>
						</tr>
						{{/each}}
					</tbody>
               </table>
            </div>
            <br>
            <hr class="text-muted">
            <br>
            <section>
				{{#with gallery}}
               		<div class="row col-12 g-2">
					<h2>{{title}}</h2>
					    {{#each cards}}
							<div class="card col-4 g-2">
								<div class='card-header'>
									{{name}}
								</div> 
								    <div class="card-body">
										{{name}}
									</div>	
									    <div class="card-body">
											<div class="list-group-flush">
												{{#each items}}
												<div class='list-group-item'>{{this}}</div>
												{{/each}}
											</div>	
										</div>	  
							</div>
						{{/each}}	

					</div>	
                {{/with}}
            </section>  
            <br>  
            <hr class="text-muted">
			<br>
			<section class="col-12 g-4">
				{{#with relaxion}}
					<p class="display-6">{{title}}</p>
					<div class="row g-3 my-4"> 
						{{#each cards}}
							<div class="card col-5 mx-2 text-bg-secondary">
								<div class="card-header">{{header}}</div>
								<div class="card-body">   
									<h6 class="card-title">{{title}}</h6>
									<p>{{description}}</p>   
                                </div>  
						    </div>
						{{/each}}			 
					</div>  			
				{{/with}}	
            </section>
            <br> 
            <hr class="text-muted">
            <br>
			<section>
				{{#with rest}}
                    <div class="row col-12">
						{{#each cards}}
                            <div class="card row col-5 mx-2 text-center">
                                <div class="card-header">
									{{header}}
								</div>
                                    <div class="card-body text-center">   
                                    <h6 class="card-title">{{title}}</h6>
                                    <p>{{description}}</p>
                                    <button class="btn btn-primary">{{button}}</button>
                                    </div>
                                <div class="card-footer text-center">
									{{footer}}
								</div>
                            </div>
						{{/each}}	
                    </div>
                {{/with}}
			</section>
            
            <hr class="text-muted">
			
			<section>
				{{#with proposition}}
           			 <div class="row col-12">
                        <div class="display-2 mb-4">
							{{title}}
						</div>
						{{#each card}}
                            <div class="text-bg-warning text-light card col 4 mx-2">
                                <div class="card-header">
								<h5>{{header}}</h5>
								</div>
								<div class="card-body">
									<p>{{description}}</p>
								</div>
							</div>
						{{/each}}
					</div>	
				{{/with}}
			</section>	
			
			<hr class="text-muted">
				
			<section>
				<h2 class="mb-4">{{footer.title}}</h2>
				<br>
				<div class="row g-4 ">
					<div class="row col-3">
						<div class="card-border-white>">
							{{#each footer.navigation}}
							<div class="card-body pb-2">
								<button href="{{href}}" class="btn btn-outline-primary border-light">{{text}}</button>
							</div>
							{{/each}}
						</div>
					</div>	
					<div class="col-3">
						<div class="card-border-white">
							{{#each footer.socialMedia}}
							<div class="card-body pb-2" >
								<div class="btn btn-outline-dark" href="{{link}}" class="link">{{name}}</div>
							</div>
							{{/each}}
						</div>
					</div>	
							
				    <div class="col-3">
						{{#each footer.partners}}
						<div class="card border-white">
							<div class="card-body pb-2">
								<div class="btn btn-outline-info"  href="{{link}}" class="link">{{name}}</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>				
			</section>
			<br>
    </div>
</main>						
                        