<main>  
   <section> 
      <h1 class="text-primary text-dark text-center">{{page_header.title}}</h1>
      <p class="text-secondary text-center text-uppercase">{{page_header.description}}</p>
            <div class="card">
               <div class="body">
                  <p class="display-6 text-primary text-dark text-end me-4">{{section.about_us.title_list.main}}</p> 
                  <h2 class="text-secondary text-dark text-end me-4">{{section.about_us.title_list.sub}}</h2> 
                  <p><button class="btn btn-outline-info btn-lg ms-4">{{section.about_us.button.text}}</button></p>
               </div>
             </div>  
         
               <br>
               <br>
               <div class="card">
                  <div class="card-body">
                         <p class="display-5 text-secondary ms-4">{{section.advantage.title}}</p>        
                  </div> 
                  <br>
                  <br>
                  <div class="card ms-3 me-3">
                     <div class="card-body">
                        <p class="display-4 text-secondary text-lowercase ms-4"> 
                        {{section.advantage.efficiency.title}}</p> 
                        <h6 class="text-secondary text-dark ms-4">{{section.advantage.efficiency.sub_title}}</h6> 
                        <h6 class="text-secondary text-dark ms-4">{{section.advantage.efficiency.description}}</h6>
                        <p><button class="btn btn-outline-warning btn-lg ms-2">{{section.about_us.button.text}}</button></p>
                     </div>
                  </div>
                  <br>
                  <br>
                  <div class="card ms-3 me-3">
                     <div class="card-body">
                        <p class="display-4 text-center text-secondary text-lowercase"> 
                        {{section.advantage.innovation.title}}</p> 
                        <h6 class="text-secondary text-center">{{section.advantage.efficiency.sub_title}}</h6>
                        <p class="text-secondary text-center">{{section.advantage.efficiency.description}}</p> 
                        <p><button class="btn btn-outline-warning btn-lg">{{section.advantage.innovation.button}}</button></p> 
                     </div>
                  </div>
                  <br>
                  <br>
                  <div class="card  ms-3 me-3">
                     <div class="card-body">
                        <p class="display-4 text-end text-secondary"> 
                        {{section.advantage.collaboration.title}}</p> 
                        <h6 class="text-secondary text-end">{{section.advantage.collaboration.sub_title}}</h6>
                        <p class="text-secondary text-end">{{section.advantage.collaboration.description}}</p> 
                        <p><button class="btn btn-outline-warning btn-lg">{{section.advantage.collaboration.button}}</button></p> 
                     </div>
                  </div>
                  <br>
                  <br>
               </div>
            </div>
         </div>
      </div> 
            <br>
            <br> 
      <div class="card">
         <div class="body">
            <div class="card ms-3 me-3 mt-3">
               <div class="card-body">
                  <p class="display-5 text-primary text-dark text-lowercase">{{section.agreement.title}}</p>  
               <div class="card ms-3 me-3">
               <div class="body">
                  <h5 class="text-secondary text-dark mt-2 ms-2">{{section.agreement.info.sub_title}}</h2>   
                  <br>
                  <br>
            <div class="card ms-3 me-3 mb-3">
               <div class="card-body">
                  <p class="text-secondary">{{section.agreement.info.detail.text}}</p> 
                  <p><button class="btn btn-success btn-lg">{{section.agreement.info.detail.button}}</button></p>    
               </div>      
            </div>
            </div>  
            </div>  
            <br>
               </div>  
               <br>
            </div>
            <br>
            <br>
          </div> 

          
         </div>   
      </div>   
        
   </section> 
</main>   
