<div class="row">
        <div class="col-12">
            
            <div class="card mt-3 pb-2 pt-2">
                <div class="row ps-4 pe-4">
                    <div class="card">
                        <div class="col mb-2">
                            {{#with title}}  
                            <p><b>{{userName}}</b></p>
                            <p>{{caption}}</p>
                            <p>{{date}}</p>
                            <hr>
                            {{/with}}

                            {{#with reviewBody.seller}}
                            <p>{{ title}}: {{value}}</p>
                            {{/with}}

                            {{#with reviewBody.rating}}
                            <p>{{title}}:{{value}}</p>
                            {{/with}}
                                          
                            {{#each reviewBody.text}}
                            <p>{{this}}</p>
                            {{/each}}

                            {{#with reviewBody.advantages}}
                            <p><b>{{title}}</b></p>
                            <p>{{text}}</p>
                            {{/with}}

                            {{#with reviewBody.disadvantages}}
                            <p><b>{{title}}</p></b>
                            <p>{{text}}</p>
                            {{/with}}

                            {{#each reviewBody.images}}
                            <img src="https://picsum.photos/110/100">
                            {{/each}}
                        </div> 
                    </div>                           
                        <div class="mt-4">         
                            <div class="row ps-4 pe-4">
                                {{#each reviewBody.coments}}
                                    <div class="card pb-2 mb-3 p-2">             
                                        <h4>{{userName}}</h4>
                                        <p>{{date}}</p>
                                        <p>{{text}}</p>
                                    </div>       
                                {{/each}}
                            </div>
                        </div>   
                </div>                  
            </div>         
            
        </div>   
    </div>